#hexxed_mystery, #hexxed_guess{
	height: 100px;
	width: 100px;
	border-radius: 0px;
	border: double;
	margin: 1em;
}

#hexxed_slider1, #hexxed_slider2, #hexxed_slider3{
	width: 200px; 
	margin: 1em;
}