@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|Gruppo);

* {
	margin: 0px;
	padding: 0px;
}

.hexed {
	font-family: 'Gruppo', cursive;
	width: 900px;
	height: 700px;
	border: 2px solid #999;
	border-radius: 5px;
	margin: 15px auto;
	padding: 15px;
}

h2 {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 40px;
	margin: 20 0 20 0;
}

#choices {
	text-align: center;
}

#red, #green, #blue {
	display: inline-block;
	margin-left: 150px;
	margin-bottom: 20px;
	width: 470px;
}

#redValue, #greenValue, #blueValue {
	position: relative;
	top: -24px;
	margin-left: 20px;
	margin-right: 150px;
	width: 100px;
}

#red .ui-slider-range {
	background: #ef2929;
}

#red .ui-slider-handle { 
	border-color: #ef2929;
}

#green .ui-slider-range { 
	background: #8ae234;
}

#green .ui-slider-handle { 
	border-color: #8ae234;
}

#blue .ui-slider-range { 
	background: #729fcf;
}

#blue .ui-slider-handle { 
	border-color: #729fcf;
}

#circles {
	margin: 15px auto 15px 330px;
}

.circle {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border: 2px solid black;
	margin: 10px;
}

#scors {
	display: none;
}

#triesCounter {
	margin-bottom: 10px;
}

#allScores {
	margin-top: 20px;
	margin-left: 20px;
}

input[type=button], a {
	display: block;
}

#scoreData td, #scoreData th {
	padding: 5px;
}
